{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN') %}
        Edit Company
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN') %}
        <h1>Edit Company</h1>

        {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('company_index') }}">Retour à la liste</a>

        {{ include('company/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
