{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN') %}
        Nouvelle entreprise
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN') %}
        <h1>Ajouter une entreprise</h1>

        {{ include('company/_form.html.twig') }}

        <a href="{{ path('company_index') }}">Retour à la liste</a>
        {% endif %}
    {% endif %}
{% endblock %}
